{% extends 'navigation.html'%}
{% load static %}
{% block body %}

<section class="about" id="about" style="background-color: blueviolet;">

    <div class="image">
        <img src="{% static 'images/Reading.jpeg' %}" >
    </div>

    <div class="content">
        <h3 style="color: brown;">E-CollegeStreet</h3>
        <p style="color:coral;"> A mobile app that provides free access to educational resources, such as digital textbooks, interactive tutorials, and practice exercises, for underprivileged students in remote or underserved areas.</p>
    </div>

</section>
{% endblock %}